---
layout: archive
---
<!--
{{ content }}

<h1>Who is Allen Joshey?</h1>
<p>I'm a young engineer with a background in Electronics.My interests lie in areas such 
as legged robotics and artificial intelligence techniques used mainly for applications 
such as exploartion and surveillance</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->